<!DOCTYPE html>
<html lang="en">
<!-- BillBook을 생성하는 곳 -->
<head>
    <meta charset="UTF-8">
    <title>MakeBillBook</title>
    <link rel="stylesheet" href="/css/BillBookTool.css">
</head>
<body>
    <h1>BillBook 생성</h1>
    <hr>
    <!-- titleBox는 최대 한줄로 제어 -->
    <form method="POST" action="addBillBook">
        <textarea class="titleBox baseBox centerBox" placeholder="BillBook 제목을 생성해주세요" name="billBookName"></textarea>
        <textarea class="contentBox baseBox centerBox" placeholder="BillBook에 대한 설명을 간단히 적어주세요" name="billBookDetail"></textarea>
        <button type="submit" class="makeButton centerBox">생성하기</button>
    </form>
    <br/>
    <br/>
</body>


</html>
