<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detailBill</title>
    <link rel="stylesheet" href="/css/BaseBill.css">
</head>
<body>
<div class="whole">
    <div class="topContainer">
        <h2 class="switchh2input">
            <!-- 여기에 Bill의 세부적인 제목이 들어감-->
        </h2>
    </div>
    <div class ="dataContainer">
        <input type="text" id="billTitle" class="baseBox centerBox" placeholder="결제 내역 이름"></input>
        <textarea id="billSummary" class="detailBox baseBox centerBox" placeholder="결제 내역에 대한 설명을 적어주세요."></textarea>
        <!-- ~~원이 자동으로 들어가게 해줘야되는데 우선 보류 -->
        <textarea id="payedMember" class="priceBox baseBox centerBox" placeholder="결재자를 적어주세요."></textarea>
        <textarea id="fullPrice" class="priceBox baseBox centerBox" placeholder="총 금액을 적어주세요."></textarea>
        <div class ="priceMember">
            <h3 style="color:white;">정산 인원 별 가격</h4>
            <ul id="price_list" style="list-style:none;">
            </ul>
            <div class="oneMember">
                <input id="member_name" class="oneMemberText memberText" placeholder="이름"></input>
                <input id="member_price" class="oneMemberText priceText" placeholder="금액"></input>
                <button class="button_image addMember switchMode" onclick="addMemberPrice()">+</button>
            </div>
        </div>
    </div>
    <!-- 저장은 작성한 내용을 벡엔드로 전송한다. -->
    <!-- 취소는 작성한 내용을 백엔드로 보내지 않고 이전 화면인 BillMain으로 넘어간다. -->
    <!-- 원래 dataContainer 밖에 있던 billManageButton을 안으로 넣었, 이로 인해 오류가 생기면 빼서 다른 방안 찾아봐야 하나 우선 이게 디자인 하기 가장 좋은 형태-->
    <div class="billManageButton">
            <button id="save_btn" class="switchMode hidden viewModeButton button_image" onclick="addBill()">저장</button>
            <button id="update_btn" class="switchMode hidden editModeButton button_image" onclick="updateBill()">수정</button>
            <button id="cancel_btn" class="viewModeButton button_image" onclick="cancel()">취소</button>
    </div>
</div>
<script src="/js/detailB.js"></script>
</body>
</html>