<!DOCTYPE html>
<html lang="en">
<!-- 생성된 BillBook의 만들어진 Bill들을 볼 수 있는 곳 -->
<head>
  <meta charset="UTF-8">
  <title>resultBill</title>
  <link rel="stylesheet" href="/css/BaseBill.css">
</head>
<body>
<div class="whole">
  <div class="topContainer">
    <h2>
      <!-- Bill 제목 - 정산 결과 이렇게나타내고 싶은데 우선 정산 결과라고마 나옴-->
      정산결과
    </h2>
    <div>
      <!-- 결과를 공유한다 -->
      <button class="BillButton" onclick="shareResult()">공유하기</button>
      <button class="BillButton" onclick="cancel()">돌아가기</button>
    </div>

  </div>
  <div class="dataContainer">
    <div class="bill">
      <div class="bill-text">
        <!-- 해당 멤버의 이름을 보여줌 -->
        <!-- <div class="bill-text-tool bill-text-title">멤버 이름</div> -->
        <!-- 해당 멤버가 특정 멤버에게 얼마를 받아야 하는지 알려주는 부분 -->
        <ul id="settle_list" style="list-style:none;">
        </ul>
      </div>
    </div>
  </div>
</div>
</body>

<script>
    fetch(window.location.origin + window.location.pathname.substring(0,7) + "/getBills", {method: "GET"})
    .then((res) => {
      return res.json();
    })
    .then((data) => {
      settle_price = {};

      for(var i = 0; i < data["bills"].length; ++i) {
        for(var j = 0; j < data["bills"][i]["memberPrice"].length; ++j) {
          if(data["bills"][i]["memberPrice"][j]["member"] in settle_price == false) {
            settle_price[data["bills"][i]["memberPrice"][j]["member"]] = 0;
          }

          if(data["bills"][i]["memberPrice"][j]["member"] in settle_price) {
            settle_price[data["bills"][i]["memberPrice"][j]["member"]] += parseInt(data["bills"][i]["memberPrice"][j]["price"]);
          }
        } 
      }

      for(var i in settle_price) {
        const list = document.getElementById("settle_list");
        const list_elem = document.createElement("li");
        const span_name = document.createElement("span");
        const span_price = document.createElement("span");
        const br = document.createElement("br");
        const space = document.createElement("span");
        const p = document.createElement("span");
        space.innerHTML = "에게 ";
        p.innerHTML = "원을 받아야합니다.";

        span_name.className += "member_name";

        span_price.className += "member_price";

        span_name.innerHTML = i;
        span_price.innerHTML = settle_price[i];


        list_elem.appendChild(span_name);
        list_elem.appendChild(space);
        list_elem.appendChild(span_price);
        list_elem.appendChild(p);
        list_elem.appendChild(br);

        list.appendChild(list_elem);
      }
    });

    function cancel() {
      window.location.href = window.location.origin + window.location.pathname.substring(0,7);
    }

    function shareResult() {
      window.location.href = window.location.origin + window.location.pathname.substring(0,7) + "/shareBillBook";
    }
</script>

</html>